<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" href="">
	</head>
	<body>
		<div ng-controller="myCtrl">
			<p>选择网站:</p>
			<select ng-model="selectedSite">
				<option ng-repeat="i in sites" value="{{i.url}}">{{i.site}}</option>
			</select>
			<h3>你选择的是: {{selectedSite}}</h3>
		</div>
		<script src="../src/lib/angular.min.js"></script>
		<script src="ng_select_repeat.js"></script>
	</body>
</html>
</html>